.Appnew {
    width: 100%;
    height: 100;
    background: #a9c9cf;
}
.add {
    width: 100%;
    min-height: 25%;
    border-bottom: 1px solid #636a6b;
}
.item {
    width: 100%;
    float: left;
}
.Todos {
    width: 45%;
    float: left;
    border-right: 0.5px solid #636a6b;
    text-align: center;
}
.done {
    width: 45%;
    float: left;
    border-left: 1px solid #636a6b;
    text-align: center;
}